<header>
  <div id="listing-slider">
    <div class="form-container">
      <h2>Create a Listing</h2>
      <form id="add-listing">
        <div class="input">
          <textarea placeholder="Name:"></textarea>
          <textarea placeholder="Price:"></textarea>
          <textarea placeholder="Type"></textarea>
          <textarea placeholder="Image URL"></textarea>
          <textarea placeholder="Description"></textarea>
        </div>
        <button class="btn btn-light btn-lg" type="submit">Submit</button>
      </form>
      <button class="btn btn-danger btn-sm" type="button" id="form-toggle">Hide Form</button>
    </div>
  </div>
  <nav>
    <a id="title">Guitar Market
    </a>
      <div id="list-options">


        <form method="GET" action="/search">
          <button type="submit" class="btn btn-link" id="login_button" >Search</button>
        </form>


        <a id="create_listing">Create A Listing</a>
        <a id="my_listings">My Listings</a>
        <a id="my_favourites">My Favourites</a>
      </div>
      <!-- if no user signed in, display login form-->
      <!-- % if (!currentUser){ %> -->
      <div id="account-manager">
        <form method="GET" action="/login">
          <button type="submit" class="btn btn-primary" id="login_button" >Login</button>
        </form>
        <div class='divider'></div>
        <form action="/register" method="GET">
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
  </nav>
</header>
