<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="title">Guitar Market</div>
    <div id="nav-buttons">
          <a class="" href="#">My Listings</a>
          <a class="" href="#">Fiter/Search</a>
          <a class="" href="#"> Login/Register</a>
      <form class="filter-manager">
        <input type="radio" id="all" name="filter" value="all">
        <label for="all">all</label>
        <input type="radio" id="favorites" name="filter" value="favorites">
        <label for="all">favorites</label>

        <input class="" type="search" placeholder="Search" >
        <button class="" type="submit">Search</button>

        <div>
          <input class="" type="search" placeholder="min. price" > -
          <input class="" type="search" placeholder="max. price" >
        </div>
        
      </form>
    </div>
  </nav>
</header>