<header>
  <div id="listing-slider">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- will be moved later -->

    <div class="form-container">
      <h2>Create a Listing</h2>
      <div id="error-slider">
        <i class="fas fa-exclamation-triangle"></i>
        <span id="error-message"></span>
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <form id="add-listing">
        <div>
          <input placeholder="Name:" name="name"></input>
          <input placeholder="Price:" type="number" name="price"></input>
          <input placeholder="Type" name="type"></input>
          <input placeholder="Image URL" name="img_url"></input>
          <input placeholder="Description" name="description"></input>
        </div>
        <button class="btn btn-light btn-lg" type="submit">Submit</button>
      </form>
      <button class="btn btn-danger btn-sm" type="button" id="form-toggle">Hide Form</button>
    </div>
  </div>
  <nav>

    <a id="title">Guitar Market</a>
    <!-- None of these should be clickable without loggin in  -->
      <div id="list-options">
        <div><a id="search-guitars">Search/Filter</a></div>
        <div><a id="create_listing">Create Listing</a></div>
        <div><a>My Listings</a></div>
        <div><a id="myFavorites" method="POST" action="/myFavorites">Favourites</a></div>
      </div>
      <!-- if no user signed in, display login form-->
      <!-- % if (!currentUser){ %> -->
      <div id="account-manager">
        <form method="GET" action="/login">
          <button type="submit" class="btn btn-primary" id="login_button" >Login</button>
        </form>
        <div class='divider'></div>
        <form action="/register" method="GET">
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
      <!-- otherwise display "signed in as xxxx" and a logout button-->
      <!-- if search/filter has been clicked-->
  </nav>
</header>
