<header>
  <div id="listing-slider">
    <p>Create Listing Form</p>
    <button type="submit" id="form-toggle">Hide Form</button>
  </div>
  <nav>
    <a id="title">Guitar Market
    </a>
      <div id="list-options">
        <a id="search">Search/Filter</a>
        <a id="create_listing">Create A Listing</a>
        <a id="my_listings">My Listings</a>
        <a id="my_favourites">My Favourites</a>
      </div>
      <!-- if no user signed in, display login form-->
      <!-- % if (!currentUser){ %> -->
      <div id="account-manager">
        <form method="GET" action="/login">
          <button type="submit" class="btn btn-primary" id="login_button" >Login</button>
        </form>
        <div class='divider'></div>
        <form action="/register" method="GET">
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
  </nav>
</header>
