<header>
  <nav>
    <a id="title">Guitar Market</a>

    <div>
      <div id="list-options">
        <a class="" href="/">My Listings</a>
        <a class="" href="/">Search/Filter</a>
      </div>

      <!-- if no user signed in, display login form-->
      <!-- % if (!currentUser){ %> -->
        <div id="account-manager">
          <form action="/" method="GET">
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <form action="/" method="GET">
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
    </div>
  </nav>
</header>
