<main class="listings">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://www.tomleemusic.ca/media/catalog/product/cache/image/1000x1320/e9c3970ab036de70892d86c6d221abfe/1/8/189161_1.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">YAMAHA guitar</h5>
          <p class="card-text">Sunset blue acoustic guitar</p>
          <a href="#" class="btn btn-primary">BUY NOW</a>
          <button type="button" class="btn btn-outline-warning">Favortie</button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">PRICE: $400</li>
      <li class="list-group-item">SELLER: Example Name</li>
      <li class="list-group-item">TYPE: Acoustic</li>
    </ul>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://www.soundalchemy.com.sg/wp-content/uploads/2020/05/ymh_120h_blk.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">YAMAHA guitar</h5>
          <p class="card-text">Black electric guitar</p>
          <a href="#" class="btn btn-primary">BUY NOW</a>
          <button type="button" class="btn btn-outline-warning">Favortie</button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">PRICE: $400</li>
      <li class="list-group-item">SELLER: Example Name</li>
      <li class="list-group-item">TYPE: Electric</li>
    </ul>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://m.media-amazon.com/images/I/713Seio-QnL._AC_SY606_.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">HUNTINGTON guitar</h5>
          <p class="card-text">Red sunburst acoustic guitar</p>
          <a href="#" class="btn btn-primary">BUY NOW</a>
          <button type="button" class="btn btn-outline-warning">Favortie</button>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">PRICE: $400</li>
      <li class="list-group-item">SELLER: Example Name</li>
      <li class="list-group-item">TYPE: Acoustic</li>
    </ul>
  </div>

</main>
