
<main class="listings">
  <div class="crop">
    <img src="https://wallpapercave.com/wp/uOQFsDt.jpg">
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://www.tomleemusic.ca/media/catalog/product/cache/image/1000x1320/e9c3970ab036de70892d86c6d221abfe/1/8/189161_1.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">YAMAHA guitar</h5>
          <p class="card-text">Sunset blue acoustic guitar</p>
          <ul class="list-group list-group-flush">
            <li>PRICE: $400</li>
            <li>SELLER: Example Name</li>
            <li>TYPE: Electric</li>
          </ul>
          <a href="#" class="btn btn-primary">BUY NOW</a>
          <button type="button" class="btn btn-outline-warning">Favortie</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://www.soundalchemy.com.sg/wp-content/uploads/2020/05/ymh_120h_blk.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">YAMAHA guitar</h5>
          <p class="card-text">Black electric guitar</p>
          <ul class="list-group list-group-flush">
            <li>PRICE: $400</li>
            <li>SELLER: Example Name</li>
            <li>TYPE: Electric</li>
          </ul>
          <a href="#" class="btn btn-primary">BUY NOW</a>
          <button type="button" class="btn btn-outline-warning">Favortie</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://m.media-amazon.com/images/I/713Seio-QnL._AC_SY606_.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">HUNTINGTON guitar</h5>
          <p class="card-text">Red sunburst acoustic guitar</p>
            <li>PRICE: $400</li>
            <li>SELLER: Example Name</li>
            <li>TYPE: Acoustic</li>
          <a href="#" class="btn btn-primary">BUY NOW</a>
          <button type="button" class="btn btn-outline-warning">Favortie</button>
        </div>
      </div>
    </div>
  </div>


  <div class="item">
    <img src="https://www.soundalchemy.com.sg/wp-content/uploads/2020/05/ymh_120h_blk.jpg" class="card-img" alt="...">
   <div class="details">
    <span>HELLO HELLO HELLO HELLO HELLO HELlo</span>
   </div>
  </div>
</main>
