
<main class="listings">

  <div class="card">
    <img src="https://www.soundalchemy.com.sg/wp-content/uploads/2020/05/ymh_120h_blk.jpg" alt="Denim Jeans" style="width:100%">
    <div class='product-details'>
      <h1>YAMAHA guitar</h1>
      <p class="price">$459.99</p>
      <p>Black electric guitar</p>
      <p><button class="btn btn-dark btn-lg btn-block" style="max-height: 1%;">Add to Cart</button></p>
      <p><button class="btn btn-warning btn-lg btn-block">Add to Favorties</button></p>
    </div>
  </div>

  <div class="card">
    <img src="https://m.media-amazon.com/images/I/713Seio-QnL._AC_SY606_.jpg" alt="Denim Jeans" style="width:100%">
    <div class='product-details'>
      <h1>HUNTINGTON guitar</h1>
      <p class="price">$459.99</p>
      <p>Red sunburst acoustic guitar</p>
      <p><button class="btn btn-dark btn-lg btn-block" style="max-height: 1%;">Add to Cart</button></p>
      <p><button class="btn btn-warning btn-lg btn-block">Add to Favorties</button></p>
    </div>
  </div>

  <div class="card">
    <img src="https://www.tomleemusic.ca/media/catalog/product/cache/image/1000x1320/e9c3970ab036de70892d86c6d221abfe/1/8/189161_1.jpg" alt="Denim Jeans" style="width:100%">
    <div class='product-details'>
      <h1>YAMAHA guitar</h1>
      <p class="price">$459.99</p>
      <p>Sunset blue acoustic guitar</p>
      <p><button class="btn btn-dark btn-lg btn-block" style="max-height: 1%;">Add to Cart</button></p>
      <p><button class="btn btn-warning btn-lg btn-block">Add to Favorties</button></p>
    </div>
  </div>



