<section class="new-search">
  <form id="form-search" method="POST" action="/search">

    <div class="new-search_wrapper">
      <label for="new-search_min-price">Min Price</label>
      <input type="number" name="guitar-price-min" placeholder="$" id="new-search_min-price">
    </div>

    <div class="new-search_wrapper">
      <label for="new-search_max-price">Max Price</label>
      <input type="number" name="guitar-price-max" placeholder="$" id="new-search_max-price">
    </div>

    <div class="new-search_wrapper">
        <label for="new-search_type">Type</label>
        <input type="text" name="guitar-type" placeholder="Type" id="new-search_type">
    </div>

    <div class="new-search_wrapper">
      <label for="new-search_name">Name</label>
      <input type="text" name="guitar-name" placeholder="Name" id="new-search_name">
    </div>

    <div class="search_action_buttons">
      <div class="new-search_wrapper_button">
        <button class="btn btn-dark" id='search-button' type="submit">Search</button>
      </div>

      <div class="new-search_wrapper_button">
        <button class="btn btn-dark" id='clear-button'>Clear</button>
      </div>
    </div>
  </form>
</section>
