    <section class="new-search">
      <form id="form-search" method="POST" action="/search">
        <div class="new-search_wrapper">
          <label for="new-search_price">Price</label>
          <input type="number" name="guitar-price" placeholder="Price" id="new-search_price">
        </div>

        <div class="new-search_wrapper">
          <label for="new-search_type">Type</label>
          <input type="text" name="guitar-type" placeholder="Type" id="new-search_type">
        </div>

        <div class="new-search_wrapper">
          <label for="new-search_name">Name</label>
          <input type="text" name="guitar-name" placeholder="Name" id="new-search_name">
        </div>

        <div class="new-search_wrapper_button">
          <button class="btn btn-primary" id='search-button' type="submit">Search</button>
        </div>

        <div class="new-search_wrapper_button">
          <button class="btn btn-primary" id='clear-button'>Clear</button>
        </div>

      </form>
    </section>



