<form>
  <div class="guitar-name">
      <label for="guitar-name">Guitar's Name</label>
      <input type="text" class="form-control" id="guitar-name" placeholder="Guitar Name">
  </div>
  <div class="guitar-type">
      <label for="guitar-type">Guitar's Type</label>
      <input type="text" class="form-control" id="guitar-type" placeholder="Guitar Type">
  </div>
  <div class="guitar-price">
      <label for="guitar-price">Price</label>
      <input placeholder="$" type="number" name="guitar-price" id="guitar-price">
  </div class='guitar-image'>
  <div class='guitar-image'>
    <label for="guitar-image">Image</label>
    <input type="text" class="form-control" id="guitar-image" placeholder="https://">
  </div>
  <div class="guitar-description">
    <label for="guitar-description">Description</label>
    <textarea class="form-control" id="guitar-description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>






