// See: https://sass-lang.com/

#slider {
  margin-top: -100px;
  z-index: -2;
}

@media only screen and (max-width: 770px) {
  #title {
    font-size: 32px !important;
  }
  #account-manager {
    p {
      font-size: 12px;
    }
    button {
      font-size: 18px;
      width: 80px !important;
      text-decoration: none;
      outline: none;
      border-radius: 30px;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-right: 1vw;
    }
  }
}

@media only screen and (max-width: 1200px) {
    #title {

    }
}

@media only screen and (max-width: 1024px) {
  body {
    #title {

    }
    #list-options {
      visibility: hidden;
    }
  }
}

body {
  background-color: black;
  color: rgb(245, 210, 96);
  font-size: 20px;

  header {
    border: 5px solid rgb(245, 210, 96);
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(255, 255, 255, 0.33);
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: sticky;
    width: 100vw;

    #title {
      font-size: 4vw;
      font-family: 'Sansita Swashed', cursive;
      margin-top: -15px;
      padding: 5px;
      display: inline-block;
      word-wrap: normal;
      margin: right;
      padding-left: 2vw;
      padding-right: 3vw;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }
    #list-options {
      display: flex;
      font-size: 2vw;
      align-items: center;
      margin-left: auto;
      height: 100px;
      font-weight: bold;
      div {
        font-weight: bold;
        padding: 12% 1.5vw;
        :hover {
          background-color: rgb(245, 210, 96);
          color: black;
          cursor: pointer;
        }
      }
    }
    #account-manager {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      text-decoration: none;
      outline: none;
      button {
        background-color: rgb(245, 210, 96);
        color: black;
        font-size: 18px;
        width: 12vw;
        text-decoration: none;
        outline: none;
        border-radius: 30px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 2vw;
      }
    }
    .divider {
      width: 5px;
      height: auto;
      display: inline-block;
    }
  }


  // #my_listings:hover {
  //   color: blue;
  // }
  // #my_favourites:hover {
  //   color: blue;
  // }

  // #create_listing {
  //   color: white;;
  // }


  .crop {
    overflow: hidden;
    height: 80vh;
    width: 100vw;
    opacity: 0.9;

    img {
      max-height: 100%;
    }
    .carousel-content {
      position: absolute;
      margin-top: -78.5vh;
      background-color: rgba(0, 0, 0, 0.39);
      align-self: center;
      color: rgb(255, 255, 255);
      font-size: 3em;
    }

    // #website-title {
    //   position: relative;
    //   margin-top: -65%;
    //   width: 100%;

    }
  }

  // Add Listing_________________________________________________________________________________________________

  #listing-slider {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    width: 100%;
    height: 100vh;
    z-index:10;
    top: 0px;
    left: 0px;
    right: 0px;

    background-color: #000000c9;
    color: #dddddd;

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: 3px solid #dddddd;
      border-radius: 4px;
      width: 80%;
      height: 80%;

      #error-slider {
        display: flex;
        justify-content: space-around;
        padding: 1em;
        color: #DC3545;
        border: 3px solid #DC3545;
        font-weight: 700;
        width: 90%;
      }

      form {
        display: contents;
      }
      input {
        color: #dddddd;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #dddddd;

        margin: 0.2em;

        ::placeholder {
          color:#ffffff;
       }
      }
    }
  }
  // listings page____________________________________________________________________________________________
  #contact-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;

    font-size: 1.5em;
    font-weight: 400;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    z-index:10;
    top: 0px;
    left: 0px;
    right: 0px;

    background-color: #000000c9;
    color: #dddddd;

    p {
      text-align: center;
      width: 80%;
      padding: 0.5em;
      border-bottom: 2px solid #dddddd;
      font-family: Helvetica, sans-serif;
    }
  }

  .listings {
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    display: flex;
    flex-direction: column;
    align-items: center;


    .card {

      &:hover {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.534);
      }
      max-width: 40vw;
      margin: 2em;
      font-family: arial;
      display: flex;
      flex-direction: row;
      color: black;

      .price {
        color: #11cf11;
        font-size: 1.5em;
      }

      .favorite-clicked {
        border-color: #11cf11;
        background-color: #11cf11;
      }

      .product-details {
        text-align: center;
        width: 50%;
      }

      button {
        outline: none;
        box-shadow: none;
        width: 60%;
      }
      img {
        max-width: 50%;
        max-height: 45vh;
        border-right: 1px solid #cccbcb;
      }

      h1 {
        color: black;
      }
    }

    .list-group-item {
      border: none;
      color: black;
    }

    .sale-item {
      max-width: 25vw;

      img {
        max-width: 100%;
      }
    }
  }

// Login & Registration__________________________________

#account-login-form {
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  button {
    background-color: rgb(245, 210, 96);
    color: black;
    font-size: 18px;
    width: 12vw;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2vw;
  }
}

.new-search {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(245, 210, 96);
  color: #000000;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  button {
    background-color: rgb(245, 210, 96);
    color: black;
    font-size: 16px;
    width: 6vw;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin: 3px;
  }
}