// See: https://sass-lang.com/

#slider {
  // margin-top: -100px;
  z-index: -2;
}

@media only screen and (max-width: 770px) {
  #title {
    font-size: 32px !important;
  }
  #account-manager {
    p {
      font-size: 12px;
    }
    button {
      font-size: 18px;
      width: 80px !important;
      text-decoration: none;
      outline: none;
      border-radius: 30px;
      margin-top: 2px;
      margin-bottom: 2px;
      margin-right: 1vw;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .listings {
    grid-template-columns: auto auto !important;
    .card {
      width: 520px;
      height: 360px;
    }
  }
}
  
  

@media only screen and (max-width: 1024px) {
  .listings {
    grid-template-columns: auto !important;
  }
}

body {
  background-color: black;
  color: rgb(245, 210, 96);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;

  header {
    border: 5px solid rgb(245, 210, 96);
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(255, 255, 255, 0.33);
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    width: 100vw;

    #title {
      font-size: 4vw;
      font-family: 'Sansita Swashed', cursive;
      margin-top: -15px;
      padding: 5px;
      display: inline-block;
      word-wrap: normal;
      margin: right;
      padding-left: 2vw;
      padding-right: 3vw;
      height: 100%;
      text-decoration: none;
      color: inherit;
    }
    #list-options {
      display: flex;
      font-size: 2vw;
      align-items: center;
      margin-left: auto;
      height: 100px;
      font-weight: bold;
      div {
        font-weight: bold;
        padding: 12% 1.5vw;
        text-align: center;
        :hover {
          background-color: rgb(245, 210, 96);
          color: black;
          cursor: pointer;
        }
      }
    }
    #account-manager {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      text-decoration: none;
      outline: none;
      margin-left: 30px;
      padding-right: 2vw;
      button {
        background-color: rgb(245, 210, 96);
        color: black;
        font-size: 18px;
        font-weight: 700;
        width: 12vw;
        text-decoration: none;
        outline: none;
        border-radius: 30px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 2vw;
      }
    }
    .divider {
      width: 5px;
      height: auto;
      display: inline-block;
    }
  }
  .crop {
    top: 0px;
    overflow: hidden;
    height: 70vh;
    width: 100vw;
    opacity: 0.3;
    margin-top: -15.5vh;

    img {
      max-height: 100%;
      // margin-top: -15.5vh;
    }

    .carousel-content {
      position: absolute;
      margin-top: -78.5vh;
      background-color: rgba(0, 0, 0, 0.39);
      align-self: center;
      color: rgb(255, 255, 255);
      font-size: 3em;
    }
  }
  // listings page____________________________________________________________________________________________
  #contact-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;

    font-size: 1.5em;
    font-weight: 400;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    z-index:10;
    top: 0px;
    left: 0px;
    right: 0px;

    background-color: #000000c9;
    color: #dddddd;

    p {
      text-align: center;
      width: 80%;
      padding: 0.5em;
      border-bottom: 2px solid #dddddd;
      font-family: Helvetica, sans-serif;
    }
  }

  .listings {
    background-color: rgb(116, 116, 116);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    justify-content: center;
    .card {

      &:hover {
        box-shadow: 5px 5px 0px 0 rgba(0, 0, 0, 0.534);
      }
      width: 520px;
      height: 360px;
      margin: 10px;
      font-family: arial;
      display: flex;
      flex-direction: row;
      color: rgb(245, 210, 96);
      background-color: black;
      border: solid 5px rgb(245, 210, 96);
      .price {
        color: #11cf11;
        font-size: 1.5em;
      }

      .sold {
        color: #cf1111;
        font-size: 1.5em;
      }

      .favorite-clicked {
        border-color: #11cf11;
        background-color: #11cf11;
      }

      .product-details {
        text-align: center;
        margin: auto;
      }

      button {
        outline: none;
        box-shadow: none;
        width: 60%;
      }
      img {
        width: 200px;
        height: 200px;
        border: solid 4px rgb(245, 210, 96);
        margin-left: 25px;
        margin-top: auto;
        margin-bottom: auto;
      }

      h1 {
        color: rgb(245, 210, 96);
        font-size: 18px;
      }
    }

    .list-group-item {
      border: none;
      color: black;
    }

    .sale-item {
      //max-width: 25vw;

      img {
        //max-width: 100%;
      }
    }
  }

// Login & Registration__________________________________

#account-login-form {
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  button {
    background-color: rgb(245, 210, 96);
    color: black;
    font-size: 18px;
    font-weight: 700;
    width: 12vw;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2vw;
  }
}

.new-search {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(245, 210, 96);
  color: #000000;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: grid;
  button {
    background-color: rgb(245, 210, 96);
    color: black;
    font-size: 16px;
    width: 80px;
    text-decoration: none;
    outline: none;
    border-radius: 30px;
    margin: 3px;
  }
}
}
